<div id="forecast_trip"

  data-checkpoints="<%= trip.checkpoints.first(trip_days).to_json %>"
  data-checkpoints-name="<%= checkpoint_arr %>"
  data-trip-dates="<%= trip_dates[0].first(trip_days).to_json %>"
  data-client-id="<%= ENV['AERIS_CLIENT_ID'] %>"
  data-client-secret="<%= ENV['AERIS_CLIENT_SECRET'] %>"
  data-breakfast="<%= breakfast.to_json %>"
  data-meal="<%= meal.to_json %>"
  >
</div>
