<div class="pt-5 mt-4"></div>
  <div class="d-flex justify-content-between px-5">
    <h1><%= @trip.trail.name %></h1>
    <div class="d-flex justify-content-end">
      <div><%= link_to "Edit", root_path, class:"btn btn-primary mr-3" %></div>
      <div><%= link_to 'Share', trip_path(@trip, format: :pdf), class: "btn btn-success mr-3", target: :_blank %></div>
      <div><%= link_to "Delete", root_path, class:"btn btn-danger" %></div>
    </div>
  </div>
  <div class="row p-5 mx-5" style="background-color:#e1e4d5;">
    <section class="col-7">
      <div class="bg-white shadow-sm p-3 my-3">
        <div class="h4"><%= @trip.start_date.strftime("%e %b, %Y") %> - <%= @trip.end_date.strftime("%e %b, %Y") %></div>
        <div class="mb-3"><%= @trip.trail.time_needed %> TRIP FOR <%= @trip.no_of_people %> <%= "adult".pluralize(@trip.no_of_people).upcase %> IN <%= @trip.trail.location.upcase %>.</div>
        <div class="row">
          <div class="col-6">
            <div class="d-flex align-items-center mb-2 h5">
              <div class="mr-3">
                <% if @trip.camping %>
                  <i class="fas fa-check-circle" style="color:darkcyan;"></i>
                <% else %>
                  <i class="fas fa-times-circle" style="color:tomato;"></i>
                <% end %>
              </div>
              <div>
                I will be sleeping in a tent
              </div>
            </div>
            <div class="d-flex align-items-center h5">
              <div class="mr-3">
                <% if @trip.cooking %>
                  <i class="fas fa-check-circle" style="color:darkcyan;"></i>
                <% else %>
                  <i class="fas fa-times-circle" style="color:tomato;"></i>
                <% end %>
              </div>
              <div>
                I will be cooking my own food
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="warning p-2 rounded-lg">
              <div class="h5 mt-2"><i class="fas fa-exclamation-circle"></i> Emergency contact</div>
              <div class="pl-2"><%= @trip.emergency_contact.name %></div>
              <div class="pl-2"><%= @trip.emergency_contact.email %></div>
              <div class="pl-2"><%= @trip.emergency_contact.phone_no %></div>
              <div class="pl-2 mt-2"> <em>Alert will be sent on </em><strong><%= @trip.end_date.strftime("%e %b, %I %P") %></strong></div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white shadow-sm p-3 my-3">
        <div class="h4">Day Plan and Conditions</div>
        <div class="accordion" id="accordionDay">
          <%= render "trip_weather_card", trip: @trip, trip_dates: [@trip_dates], trip_days: @trip_days %>
        </div>
      </div>
      <div class="bg-white shadow-sm p-3 my-3">
        <div class="h4">Checklist</div>
        <div class="accordion" id="accordionChecklist">
          <% @category_items.each_with_index do |item, index| %>
            <div class="card">
              <div class="card-header" id="heading<%=item%>">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left text-black" type="button" data-toggle="collapse" data-target="#collapse<%=item%>" aria-expanded="true" aria-controls="collapse<%=index%>">
                    <%= item %>
                  </button>
                </h2>
              </div>
              <div id="collapse<%=item%>" class="collapse <% if index===0%>show<% end %>" aria-labelledby="heading<%=item%>" data-parent="#accordionChecklist">
                <div class="card-body" data-controller="checklist">
                <% checklist_arr = [] %>
                  <% @checklists.each do |checklist| %>
                    <% checklist_arr << checklist if checklist.item.tag_list.include?(item)  %>
                  <% end %>
                  <% checklist_arr.sort.each do |checklist|%>
                    <div class="pl-5" data-action="click->checklist#inputCheckbox" >
                        <input  data-checklist-target="input" type="checkbox"  data-checklist-id="<%=checklist.id%>" name="<%= checklist.id %>" value="<%= checklist.item.name %>"
                          <% if checklist.checked? %>
                            checked
                          <% end %>
                          >
                      <span class="mr-3"><%= checklist.item.name %></span>
                      <% checklist.item.tag_list[1..].each do |tag| %>
                        <% if tag != "required" && tag != "food" %>
                          <span class="badge badge-pill <% if tag === "optional"%> badge-secondary <% else %> badge-primary <% end %>"><%= tag %></span>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    <div class="col-5">
      <div class="bg-white shadow-sm p-3 my-3">
        <div class="h4">Map
          <div id="map"
            class="map-with-route"
            style="width: 100%; height: 50vh;"
            data-markers="<%= @markers.to_json %>"
            data-coordinate-string="<%= @coordinateString %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
      <div class="bg-white shadow-sm p-3 my-3">
        <div class="h4">Route Details</div>
        <div>
          <%= line_chart @elevation_arr, colors: ["#337ab7", "#ffffff"],  ytitle: "Elevation",min: @min_no.to_s, max: @max_no;%>
        </div>
        <div class="d-flex justify-content-around px-3 py-2">
          <div class="text-center">
            <i class="fas fa-hiking"></i>
            <p><%= @trip.trail.route_distance %></p>
          </div>
          <div class="text-center">
            <i class="far fa-clock"></i>
            <p><%= @trip.trail.time_needed %></p>
          </div>
          <div class="text-center">
            <i class="fas fa-level-up-alt"></i>
          <p>(Elevation gain)</p>
          </div>
          <div class="text-center">
            <i class="fas fa-level-down-alt"></i>
            <p>(Elevation loss)</p>
          </div>
        </div>
      </div>
      <div class="bg-white shadow-sm p-3 my-3">
        <div>
          <div class="h4">Last seen</div>

            <% if @trip.photo.present? %>
              <div class="d-flex justify-content-between">
                <div class="shadow-sm" style="width:45%;" >
                  <%= cl_image_tag (@trip.photo.key), class:"rounded-lg", style: "width:100%;object-fit:contain;", crop: :fill %>
                </div>
                <div class="p-2 rounded shadow" style="width:50%; font-size:1rem;background-color:#f8ffe2;">
                  <div class="mb-2 h5">Looking good!</div>
                  <div>This photo was taken on: </div>
                  <div><%= @trip.last_photo.strftime("%e %b, %Y") %> at <%= @trip.last_photo.strftime("%l:%M %P") %></div>
                </div>
              </div>
            <% else %>
              <div class="p-2 shadow" style="background:floralwhite;">
                <div class = "h5">Please attach a photo</div>
                <%= simple_form_for([current_user, @trip], method: :patch, url: trip_path(@trip)) do |f| %>
                  <div class="border p-3 bg-white">
                    <div><%= f.input :photo, as: :file, input_html: { multiple: false } %></div>
                    <div><%= f.button :submit, "Upload Photo", class:"btn btn-success"%></div>
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
