<div class="col-lg-8 mx-auto p-3 py-md-5 bg-white">
  <header class="d-flex align-items-center border-bottom mb-2">
    <h1>Your trip to <%= @trip.trail.name %></h1>
    <p>Date : <%= @trip.start_date %> - <%= @trip.end_date %></p>
    <p>Distance : <%= @trip.trail.route_distance %> | Time : <%= @trip.trail.time_needed %></p>
  </header>
  <main class="pt-2">
    <div class="container">
      <%= image_tag "https://i.imgur.com/C6QhkL9.png", class: "img" %>
      <%= image_tag "https://i.imgur.com/a0EBiHP.png", class: "img" %>
      <%= image_tag "https://i.imgur.com/l3nVc9b.png", class: "img" %>
    </div>
      <div class="alwaysbreak map-container">
      <%= image_tag "https://i.imgur.com/2qFr3WW.png", class: "map" %>
      </div>
      <br>
      <div class="alwaysbreak map-container">
      <%= image_tag "https://i.imgur.com/w4mRMOG.jpg", class: "map" %>
      </div>
  </main>
  <footer class="mt-2 text-muted border-top">
    <p class="pt-5">
      PDF generated at <%= (Time.zone.now + 8.hours).strftime(" %e %b, %I %M %P")  %> | Created by offgrid · © 2021
    </p>
  </footer>
</div>
