<div class="position-absolute banner-text">
    <div class="head text-white text-center mb-3">Go out exploring, get home safe</div>
      <div class="content text-white text-center mb-4">Tell us where you want to hike next and we will take care of the details</div>
      <div class="d-flex justify-content-center my-3">
        <%= form_tag trails_path, method: :get do %>
          <div class="form-inline d-flex justify-content-between">
            <%= text_field_tag :location,
              params[:location],
              class: "form-control",
              placeholder: "Location",
              size: "69"
            %>
            <%= submit_tag "Submit", class: "btn btn-success text-white" %>
          </div>
        <% end %>
      </div>
  </div>

<div class="parallax_group" id="group-1">
  <div class="parallax_layer base_layer"><%= image_tag "Sky.png", style:" transform: translateY(-10px);" %></div>
  <div class="parallax_layer mid_layer"><%= image_tag "mountain2.png", style:" transform: translateY(-10px);" %></div>
  <div class="parallax_layer mid_top_layer text-white" ><%= image_tag "Person.png", style:" transform: translateY(-10px);" %></div>
</div>
