<!--Carousel Wrapper-->
<div id="carousel-with-slides" class="carousel slide carousel-multi-item" data-ride="carousel">

<!--Controls left-->
<div class="container d-flex align-items-center justify-content-between">
  <div>
    <a class="btn-floating" href="#carousel-with-slides" data-slide="prev"><i class="fas fa-chevron-circle-left" style="font-size:30px; color: darkolivegreen;"></i></a>
  </div>

<!--/.Controls left-->

<!--Slides-->
  <div class="carousel-inner mb-3" role="listbox">

each
<!--First slide-->
    <div class="carousel-item active">
      <% trails.first(4).each do |trail| %>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2" style="border-radius:15px; overflow:hidden; border:0; height:480px;">
              <%= image_tag "https://images.unsplash.com/photo-1586115457457-b3753fe50cf1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1088&q=80", style:"object-fit:cover;", height:"50%", alt: "Sharks" %>
              <div class="card-body">
                  <h5 class="card-title text-black"><strong><%= trail.name %></strong></h5>
                  <p class="text-black"><%= trail.location %></p>
                  <div class="text-black d-flex justify-content-between">
                     <p class="text-black"><%= trail.distance %></p>
                     <p class="text-black">Est. <%= trail.time_needed %></p>
                  </div>
              </div>
          </div>
        </div>
      <% end  %>
    </div>
<!--/.First slide-->

<!--Second slide-->
    <div class="carousel-item">
      <% trails.sample(4).each do |trail| %>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2" style="border-radius:15px; overflow:hidden; border:0; height:480px;">
          <%= image_tag "https://images.unsplash.com/photo-1559076948-db842bea853a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", style:"object-fit:cover;", height:"50%",alt: "Scuba boy" %>
            <div class="card-body">
            <h5 class="card-title text-black"><strong><%= trail.name %></strong></h5>
            <p class="text-black"><%= trail.location %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<!--/.Second slide-->
  </div>
<!--/.Slides-->

<!--Controls right-->
  <div>
    <a class="btn-floating" href="#carousel-with-slides" data-slide="next"><i class="fas fa-chevron-circle-right" style="font-size:30px; color: darkolivegreen;"></i></a>
  </div>
</div>

<!--/.Controls-->

<!--/.Carousel Wrapper-->
</div>
