<section id="banner" class="d-flex justify-content-center align-items-center" style="height:50vh; background-image: url('<%=asset_url('japan_alps_bg.jpg')%>'); background-repeat: no-repeat; background-size:cover; background-position: center;">
<%# insert the search bar here!!! %>
  <div class="d-flex justify-content-center my-3">
    <%= form_tag trails_path, method: :get do %>
      <div class="form-inline d-flex justify-content-between">
        <%= text_field_tag :location,
          params[:location],
          class: "form-control",
          placeholder: "Location",
          size: "69"
        %>
        <%= submit_tag "Submit", class: "btn btn-success text-white" %>
      </div>
    <% end %>
  </div>
</section>


<section id="upcoming">
  <h2 class="h1">Upcoming</h2>
  <div class="d-flex p-4 rounded-lg justify-content-between" style="background:#e1e4d5;">
    <div class="rounded-lg p-3 position-relative" style="height: 360px; width:60%; background:white;">

      <div class="position-absolute status"><%= @current_trip.status %></div>
      <h2><%= @current_trip.trail.name %></h2>

      <div style="width:100%; min-height:70%; outline:1px solid red;">map here</div>
      <div>
        <div class="h5 mt-1"><%= @current_trip.start_date.strftime("%e %b, %Y") %> - <%= @current_trip.end_date.strftime("%e %b, %Y") %></div>
        <div>Time needed: <%= @current_trip.trail.time_needed %></div>
      </div>
    </div>
    <div style="height: 360px; width:39%;">
      <div class="p-3" style="margin-bottom:10px; height: 175px; width:100%; background:white;">
        <h3>Weather</h3>
        <div class="d-flex flex-row justify-content-around">
          <%= render "weather_card", trip: @current_trip, trip_dates: @trip_dates %>
        </div>
      </div>
      <div class="p-3" style="height: 175px; width:100%; background:white;">
        <h3>Status</h3>
      </div>
    </div>
  </div>
</section>


<section id="recommended">
  <h2 class="h1">Recommended for you</h2>
  <p>A list of routes selected specially for you - based on your profile and past adventures.</p>
  <%= render "section_end",trails: @trails %>
</section>


<section id="learning" class="text-white">
  <h2 class="h1">Keep learning</h2>
  <p >Go from clueless to acclimated with these guides</p>

  <div class="d-flex justify-content-center">
    <div class="circle-card">Choosing a backpack</div>
    <div class="circle-card">Food in the Backcountry</div>
    <div class="circle-card">Light Out.<br>Tents Up.</div>
    <div class="circle-card">Water</div>
  </div>
</section>
