<%= form_for @trip, url: wizard_path, method: :put, local: true do |form| %>
  <% @emergency_contacts.each do |contact| %>
    <input type="radio" class="emergency iconbox" name="trip[emergency_contact_id]" id="<%= contact.id %>" value="<%= contact.id %>">
    <label for="<%= contact.id %>">
      <div class="clickable-radio align-items-center justify-content-center m-0">
        <p class="contact-name"><%= contact.name %></p>
        <%= image_tag "https://avatars.dicebear.com/api/big-smile/bo.svg", class: "rounded-circle contact-img", alt: "Person" %>
        <p class="pt-1"><%= contact.email %></p>
        <p><%= contact.phone_no %></p>
      </div>
    </label>
  <% end %>

  <div class="progress-container">
    <div class="progress" id="progress"></div>
    <div class="circle active"></div>
    <div class="circle active"></div>
    <div class="circle active"></div>
  </div>


  <div id="button-next">
    <%= form.submit "Submit", class: "btn btn-success ml-1" %>
    <% end %>
  </div>
