<%= form_for @emergency_contact, url: wizard_path, method: :put, local: true do |form| %>
          <div class="d-flex">
            <%= form.label :cooking, "I am cooking" %>
            <%= form.check_box :cooking %>
          </div>
          <div class="d-flex">
            <%= form.label :camping, "I am camping" %>
            <%= form.check_box :camping %>
          </div>
          <%= link_to "back", previous_wizard_path, class: "btn btn-info" %>
          <%= form.submit "next", class: "btn btn-success" %>
        <% end %>
<%= raise %>
