<%= form_for @trip, url: wizard_path, method: :put, local: true do |form| %>
        <% @emergency_contact.each do |contact| %>
          <div class="d-flex">
            <%= form.label :emergency_contact, contact.name %>
            <%= form.radio_button :emergency_contact, contact.id %>
          </div>
        <% end %>
          <%= link_to "back", previous_wizard_path, class: "btn btn-info" %>
          <%= form.submit "next", class: "btn btn-success" %>
        <% end %>
