<%= form_for @emergency_contact, url: user_emergency_contacts_path(@user), method: :post, local: true do |form| %>
          <div class="d-flex">
            <%= form.label :name, "Start date" %>
            <%= form.text_field :name %>
          </div>
          <div class="d-flex">
            <%= form.label :email, "Email" %>
            <%= form.text_field :email, in: 1..100 %>
          </div>
          <div class="d-flex">
            <%= form.label :phone_no, "Contact" %>
            <%= form.text_field :phone_no, in: 1..100 %>
          </div>
          <%= form.hidden_field :trip_id, value: @trip.id %>
          <%= link_to "back", previous_wizard_path, class: "btn btn-info" %>
          <%= form.submit "next", class: "btn btn-success" %>
        <% end %>
