<%= form_for @trip, url: wizard_path, method: :put, local: true do |form| %>
    <div class="grid" style="--bs-gap: .25rem 1rem;">
    <% @emergency_contacts.each do |contact| %>
      <input type="radio" name="trip[emergency_contact_id]" id="<%= contact.id %>" value="<%= contact.id %>">
      <label for="<%= contact.id %>">
        <%= contact.name %>
      </label>

    <% end %>

    <div class="d-flex justify-content-end">
      <%= link_to "Go back", previous_wizard_path, class: "btn btn-dark mr-2" %>
      <%= form.submit "Submit", class: "btn btn-success ml-1" %>
    </div>

  </div>
<% end %>
