<div class="pt-2 mt-5 col-12">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2>Set your emergency contact</h2>
        <p>Assign a person who will receive your trip details in the event at a preset date and time if you don’t report back as safe by the end of your hike.</p>
        <p>Learn more about emergency contacts <%= link_to 'here', '#' %></p>
      </div>
      <div class="col-6">
        <%= form_for @trip, url: wizard_path, method: :put, local: true do |form| %>
          <div class="d-flex">
            <%= form.label :start_date, "Start date" %>
            <%= form.date_field :start_date %>
          </div>
          <div class="d-flex">
            <%= form.label :no_of_people, "People" %>
            <%= form.number_field :no_of_people, in: 1..100 %>
          </div>
          <%= link_to "back", trails_path, class: "btn btn-info" %>
          <%= form.submit "next", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
