<div class="row w-100">
  <div class="col-6 text-white d-flex flex-column justify-content-center" id="sidebar-bg">
    <h2 class="side-text text-left font-weight-bold">Let's get started!</h2>
    <h4 class="side-text-sub text-left font-weight-italic">Tell us a little more about your trip and we'll customise an itinerary - just for you.</h4>
  </div>

  <div class="col-6 d-flex flex-column justify-content-center" id="form-field">
    <div class="container mt-5">
      <%= form_for @trip, url: wizard_path, method: :put, local: true do |form| %>
        <div class="form-group row">
          <%= form.label :start_date, "Start date", class: "col-sm-4 col-form-label font-weight-bold" %>
          <%= form.date_field :start_date, class: "col-sm-8" %>
        </div>
        <div class="form-group row mt-5">
          <%= form.label :no_of_people, "People", class: "col-sm-4 col-form-label font-weight-bold" %>
          <%= form.number_field :no_of_people, in: 1..100, class: "col-sm-8" %>
        </div>
      </div>
        <div class="progress-container">
          <div class="progress" id="progress"></div>
          <div class="circle active"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <% if current_user.nil? %>
            <div class="circle"></div>
          <% end %>
        </div>
      <div id="button-next">
          <%= form.submit "Next", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
