<div class="pl-5">
  <input data-action="change->checklist#inputCheckbox"
    data-checklist-target="input" type="checkbox" id="<%=item.checklist_id%>"
    data-checklist-id="<%=item.checklist_id%>"
    name="<%= item.checklist_id %>"
    value="<%= item.checklist_id %>"
    <%= item.checklist_status && "checked" %>
    style="background:black;"
  >
  <label for="<%=item.checklist_id%>">
    <% if item.tag_list.include?("food") || item.tag_list.include?("water")%>
      <%= item.trip_people %>x <%=item.name%>
    <% else %>
    <%=item.name%>
    <% end %>
  </label>
  <% item.tag_list.each do |tag| %>
    <% if tag != "required" && tag != "food" %>
    <span class="badge badge-pill
      <% if tag === "optional" || item.checklist_status %>
        badge-secondary
      <% else %>
        badge-primary
      <% end %>">
      <%= tag %>
    </span>
    <% end %>
  <% end %>
</div>
